
<div id="todo-container">
    <div id="categories">
        <div id="special-categories">
            <div class="category" (click)="displayPlannedCategory()" [style.color]="0 === activeCategoryId ? 'gold' : 'white'">Planned</div>
        </div>

        <div id="normal-categories">
            <div class="category" *ngFor="let category of categories" (click)="displayCategory(category.id)" [style.color]="category.id === activeCategoryId ? 'gold' : 'white'">{{category.name}}</div>
        </div>

        <div id="add-category">
            <input type="text" name="newCategory" placeholder="Add a new category" #box>
            <fa-icon [icon]="faCheck" (click)="addCategory(box.value)"></fa-icon>
        </div>
    </div>

    <div id="tasks">
        <div id="unfinished-tasks">
            <div class="task" *ngFor="let task of unfinishedTasks">
                <div class="task-checker"></div>
                <div class="task-title-and-date">
                    <div class="task-title">{{task.name}}</div>
                    <div class="task-due-date">{{task.dueDate}}</div>
                </div>
                <fa-icon [icon]="faPencil" (click)="editTask(task.id)"></fa-icon>
            </div>
        </div>

        <div *ngIf="activeCategoryId !== 0" id="finished-tasks">
            <div id="finished-tasks-vis-controller">
                <fa-icon [icon]="faCaretUp" (click)="changeShowFinished()" [flip]="flipCaret"></fa-icon> Finished
            </div>

            <span *ngIf="showFinished">
                <div class="task" *ngFor="let task of finishedTasks">
                    <div class="task-checker checker-checked"></div>
                    <div class="task-title-and-date">
                        <div class="task-title">{{task.name}}</div>
                        <div class="task-due-date">{{task.dueDate}}</div>
                    </div>
                </div>
            </span>
        </div>

        <div *ngIf="activeCategoryId !== 0" id="add-task">
            <input type="text" placeholder="Add an new task..." #box2>
            <fa-icon [icon]="faCheck" (click)="addTask(box2.value)"></fa-icon>
        </div>
    </div>
    
    <div id="task-modifier">
        <input id="title-modifier" type="text" placeholder="Add a title" value="Finish a science project">
        <input id="due-date-modifier" type="date" value="2022-02-22">
        <textarea id="description-modifier" type="text" placeholder="Add a description" value="Add a summary"></textarea>
        <button>Save Changes</button>
    </div>
</div>
